.place {
    display: flex;
    flex-direction: column;
    background-color: #e8e7fb;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;

    h2,
    p {
        padding-left: 15px;
        text-align: left;
    }

    .city {
        display: flex;
        justify-content: right;
        padding-right: 10px;
        align-items: center;

        span {
            margin-left: 5px;
        }
    }

    .actions {
        margin-top: 10px;

        button:hover {
            cursor: pointer;
        }

        .delete {
            margin-right: 5px;
        }
    }

    img {
        width: 100%;
        height: 240px;
    }

    .image-container {
        overflow: hidden;
        margin-bottom: 10px;
        display: block;
    }

    img.image {
        display: block;
        width: 100%;
        transition: transform 0.3s ease-in-out;
        transform-origin: center center;
    }

    .image-container:hover img.image {
        transform: scale(1.1);
    }

}