.search-bar {
    position: relative;
    width: 100%;
    padding: 25px;
}

.search-bar__input-wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
}

.search-bar__input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}

.search-bar__clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        opacity: 0.8;
    }

    i {
        color: grey
    }
}

.search-bar__clear-icon {
    width: 16px;
    height: 16px;
    color: #777;
}

.search-bar__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #5e5ecc;
    /* Color primario */
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
        /* Color más oscuro al pasar el mouse */
    }
}

.search-bar__search-icon {
    width: 20px;
    height: 20px;
}

.search-bar__toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background-color: #f0f0f0;
    }
}

.search-bar__toggle-icon {
    width: 16px;
    height: 16px;
    color: #777;
}


.search-results {
    position: absolute;
    margin: 1px 90px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 8px;
    max-height: 250px;
    overflow-y: auto;
}

.search-results__message {
    padding: 10px;
    color: #777;
}

.search-results__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results__item {
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}

.search-results__item-title {
    font-weight: bold;
    color: #333;
}

.search-results__item-details {
    font-size: 0.9rem;
    color: #555;
}