.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e7fb;
    padding: 10px 20px;
    font-size: 20px;
}

.second-header {
    font-weight: 400;
    color: #5e5ecc;
    text-align: right;
}